
input[type="submit"] {
  width: 12rem;
  padding: .7rem 1rem;
  background-color: $greenColor;
  border: none;
  border-radius: .25rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: $whileColor;
  font-size: 1rem;
}